<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageOrganizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageOrganizer.Properties.Settings>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="MainWindowRibbonMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastBrowsedDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>50</value>
            </setting>
        </ImageOrganizer.Properties.Settings>
    </userSettings>
</configuration>