<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.2" targetFramework="net451" />
  <package id="Google.Apis" version="1.9.1" targetFramework="net451" />
  <package id="Google.Apis.Auth" version="1.9.1" targetFramework="net451" />
  <package id="Google.Apis.Core" version="1.9.1" targetFramework="net451" />
  <package id="Google.Apis.Gmail.v1" version="1.9.0.200" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Microsoft.ApplicationInsights" version="0.12.0-build17386" targetFramework="net451" />
  <package id="Microsoft.ApplicationInsights.PerformanceCollector" version="0.12.0-build17386" targetFramework="net451" />
  <package id="Microsoft.ApplicationInsights.RuntimeTelemetry" version="0.12.0-build17386" targetFramework="net451" />
  <package id="Microsoft.ApplicationInsights.Web" version="0.12.0-build17386" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net451" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Instrumentation.Extensions.Intercept" version="0.12.0-build02810" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.11-beta" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="Zlib.Portable" version="1.10.0" targetFramework="net451" />
</packages>