<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
                propagateActivity="true">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Source Control\Git\TechTuesday\WebServices\WebServices\App_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost/calculator" binding="basicHttpBinding"
                bindingConfiguration="CalculatorServiceEndpoint" contract="Calculator.ICalculatorService"
                name="CalculatorServiceEndpoint" />
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="CalculatorEndpointBehavior">
                    <dataContractSerializer />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="CalculatorServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug />
                    <dataContractSerializer />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorBinding" />
                <binding name="CalculatorServiceEndpoint" />
            </basicHttpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="CalculatorServiceBehavior" name="WebServices.CalculatorService">
                <endpoint address="calculator" behaviorConfiguration="CalculatorEndpointBehavior"
                    binding="basicHttpBinding" bindingConfiguration="CalculatorBinding"
                    name="CalculatorServiceEndpoint" contract="WebServices.Contracts.ICalculatorService" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    name="MexEndpoint" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>