@model GMailLabelCleanup.Core.ViewModels.Labels.EditViewModel

@{

    ViewBag.Title = "Create new label";
}

<h2>Create new label</h2>
<hr />

<div class="container">
    @Html.Partial("_EditLabelPartial", Model)
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
